<nav class="b-menu g-hide-medium-small">
	<ul class="b-menu__list">
		<li class="b-menu__list__item b-menu__list__item--first"><a href="{{ url }}">Home</a></li>
		<li class="b-menu__list__item"><a href="{{ url }}">About</a></li>
		<li class="b-menu__list__item"><a href="{{ url }}">Blog</a></li>
		<li class="b-menu__list__item b-menu__list__item--last"><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .b-menu-->

<div class="b-mMenu-trigger" id="js-mMenu-trigger">Mobile Trigger</div>
<nav class="b-mMenu" id="js-mMenu">
	<ul class="b-mMenu__list">
		<li class="b-mMenu__list__item b-mMenu__list__item--first"><a href="{{ url }}">Home</a></li>
		<li class="b-mMenu__list__item"><a href="{{ url }}">About</a></li>
		<li class="b-mMenu__list__item"><a href="{{ url }}">Blog</a></li>
		<li class="b-mMenu__list__item b-mMenu__list__item--last"><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .b-mMenu-->