<div class="g-container">

	<div id="c133" class="csc-default">
		<div class="csc-header csc-header-n1">
			<div class="header-wrapper ">

				<h2 class="csc-firstHeader">Text mit Bild zentriert über Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-center csc-textpic-above">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.medium }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c132" class="csc-default">
		<div class="csc-header csc-header-n2">
			<div class="header-wrapper ">

				<h2>Text mit Bild rechts über Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-right csc-textpic-above csc-textpic-caption-r">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c131" class="csc-default">
		<div class="csc-header csc-header-n3">
			<div class="header-wrapper "><h2>Text mit Bild links über Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-left csc-textpic-above csc-textpic-caption-c">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c130" class="csc-default">
		<div class="csc-header csc-header-n4">
			<div class="header-wrapper "><h2>Text mit Bild zentriert unter Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-center csc-textpic-below csc-textpic-caption-c">
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div id="c129" class="csc-default">
		<div class="csc-header csc-header-n5">
			<div class="header-wrapper "><h2>Text mit Bild rechts unter Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-right csc-textpic-below csc-textpic-caption-r">
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div id="c128" class="csc-default">
		<div class="csc-header csc-header-n6">
			<div class="header-wrapper "><h2>Text mit Bild links unter Text</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-left csc-textpic-below csc-textpic-caption-c">
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:500px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:500px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div id="c127" class="csc-default">
		<div class="csc-header csc-header-n7">
			<div class="header-wrapper "><h2>Text mit Bild float Right</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-intext-right csc-textpic-caption-c">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:400px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:400px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>

					<p class="bodytext">{{ bodytext.long }}</p>

					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c126" class="csc-default">
		<div class="csc-header csc-header-n8">
			<div class="header-wrapper "><h2>Text mit Bild float Left</h2></div>
		</div>
		<div class="csc-textpic csc-textpic-responsive csc-textpic-intext-left csc-textpic-caption-c">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:400px;">
					<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					<figcaption style="max-width:400px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>

					<p class="bodytext">{{ bodytext.long }}</p>

					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c125" class="csc-default">
		<div class="csc-textpic csc-textpic-responsive csc-textpic-intext-right-nowrap">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:450px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:450px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<div class="csc-header csc-textpicHeader csc-textpicHeader-25">
					<div class="header-wrapper ">
						<div class="csc-textpicHeader csc-textpicHeader-25"><h2>Text mit Bild rechts neben Text</h2></div>
					</div>
				</div>
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>
	<div id="c124" class="csc-default">
		<div class="csc-textpic csc-textpic-responsive csc-textpic-intext-left-nowrap">
			<div class="csc-textpic-imagewrap">
				<figure class="csc-textpic-image" style="max-width:450px;">
					<a href="#" target="_blank" title="Por scientie musica sport etc litot Europa usa li sam vocabular">
						<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
					</a>
					<figcaption style="max-width:450px;">{{ bodytext.short }}</figcaption>
				</figure>
			</div>
			<div class="csc-textpic-text">
				<div class="csc-header csc-textpicHeader csc-textpicHeader-26">
					<div class="header-wrapper ">
						<div class="csc-textpicHeader csc-textpicHeader-26"><h2>Text mit Bild links neben Text</h2></div>
					</div>
				</div>
				<article class="csc-content-wrapper">
					<p class="bodytext">{{ bodytext.long }}</p>
				</article>
			</div>
		</div>
	</div>

</div>
