<div id="c126" class="csc-default">
	<div class="csc-header csc-header-n8">
		<div class="header-wrapper "><h2>Text mit Bild float Left</h2></div>
	</div>
	<div class="csc-textpic csc-textpic-responsive csc-textpic-intext-left csc-textpic-caption-c">
		<div class="csc-textpic-imagewrap">
			<figure class="csc-textpic-image" style="max-width:400px;">
				<img src="{{ img.content.src }}" class="" alt="Por scientie musica sport etc litot Europa usa li sam vocabular">
				<figcaption style="max-width:400px;">{{ bodytext.short }}</figcaption>
			</figure>
		</div>
		<div class="csc-textpic-text">
			<article class="csc-content-wrapper">
				<p class="bodytext">{{ bodytext.long }}</p>

				<p class="bodytext">{{ bodytext.long }}</p>

				<p class="bodytext">{{ bodytext.long }}</p>
			</article>
		</div>
	</div>
</div>