&lt;div class=&quot;g-container b-spacing content-main&quot;&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h1&gt;Diam nonumy eirmod tempor invidunt ut labore et doloret&lt;/h1&gt;
		{{&gt; atoms-paragraph }}
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h2&gt;At vero eos et accusam et justo duo dolores et ea rebum&lt;/h2&gt;
		{{&gt; atoms-paragraph }}
		{{&gt; atoms-hr }}
		{{&gt; atoms-unordered }}
	&lt;/div&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h3&gt;Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed&lt;/h3&gt;
		{{&gt; atoms-paragraph }}
		{{&gt; atoms-definition }}
		&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
	&lt;/div&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h4&gt;At vero eos et accusam et justo duo dolores et ea rebum&lt;/h4&gt;
		{{&gt; atoms-paragraph }}
	&lt;/div&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h5&gt;&Uuml;berschrift H5&lt;/h5&gt;
		{{&gt; atoms-ordered }}
	&lt;/div&gt;

	&lt;div class=&quot;csc-default&quot;&gt;
		&lt;h6&gt;&Uuml;berschrift H6&lt;/h6&gt;
		{{&gt; atoms-paragraph }}
	&lt;/div&gt;

&lt;/div&gt;