//$bp-small: 35em; // 570px;
//$bp-medium-small: 48em; // 768px;
//$bp-medium: 64em; // 1024px;
//$bp-large: 80em; //1280px;

$bp-small: 570px;
$bp-medium-small: 768px;
$bp-medium: 1024px;
$bp-large: 1280px;
