<form action="{{ url }}" method="post" class="inline-form search-form">
	<fieldset>
		<legend class="is-visuallyhidden">Search</legend>
		<label for="search-field" class="is-visuallyhidden">Search</label>
		<input type="search" placeholder="Search" id="search-field" class="search-field" />
		<button class="search-submit">
			<span class="icon-search" aria-hidden="true">Icon-Span</span>
			<span class="">Search</span>
		</button>
	</fieldset>
</form>