.rte__ul,
%rte__ul
.rte__ol,
%rte__ol {
    margin-left: 25px;
    list-style: disc;

    li {
        margin: 5px 0;
    }

    ul,
    ol {
        margin-left: 25px;
        list-style: disc;
    }
}

.rte__ol,
%rte__ol {
    list-style: decimal;

    ol {
        list-style: decimal;
    }
}

// helper class in order to display the list styles immediately in RTE
.htmlarea-content-body {

    ul {
        @extend %rte__ul;
    }

    ol {
        @extend %rte__ol;
    }
}
