figcaption, .figcaption {
	font-size: $image-cation-size;
	font-family: $image-cation-font-family;
	line-height: $image-cation-line;
	margin-top: $image-cation-mato;
	margin-bottom: $image-cation-mabo;
	padding: $image-cation-pad;
	background: $image-cation-bg;
	color: $image-cation-color;
}