code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

.intro {
	font-size: em($intro-size);
	margin-bottom: $intro-ma-bo;
	font-weight: $intro-weight;
	font-style: $intro-style;
	line-height: $intro-line;
	font-family: $intro-font-family;
	color: $intro-color;

	@include bp(medium) {
		font-size: em($intro-size-medium);
		line-height: $intro-line-medium;
	}
	@include bp(medium-small) {
		font-size: em($intro-size-small);
		line-height: $intro-line-small;
	}
}

.testimonial {
	font-size: em($testimonial-size);
	margin-bottom: $testimonial-ma-bo;
	font-weight: $testimonial-weight;
	font-style: $testimonial-style;
	line-height: $testimonial-line;
	font-family: $testimonial-font-family;
	color: $testimonial-color;

	@include bp(medium) {
		font-size: em($testimonial-size-medium);
		line-height: $testimonial-line-medium;
	}
	@include bp(medium-small) {
		font-size: em($testimonial-size-small);
		line-height: $testimonial-line-small;
	}
}