&lt;!-- Begin .b-footer --&gt;
&lt;footer class=&quot;b-footer&quot; role=&quot;contentinfo&quot;&gt;
		&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2013 Company Name. All rights reserved.&lt;/p&gt;
&lt;/footer&gt;
&lt;!-- End .b-footer --&gt;