{{> atoms-baseline-grid-toggle }}

<section id="baseline" class="o-section">



	<div class="o-section__wrapper typeset">

		<div id="c27">

			<h5 class="b-content-textmedia__header">Plugin Wrapper Test</h5>

		</div>

		<div class="b-content-item b-content-header" id="c26">

			<h3 class="b-content-textmedia__header">Image / Description / Links / Lightbox</h3>

		</div>

		<div class="b-content-item b-content-textmedia" id="c25">

			<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">No Image</a></h5>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

		</div>

		<div class="b-content-item b-content-textmedia" id="c24">

			<h5 class="b-content-textmedia__header">No Text</h5>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<picture>
							<source media="(min-width: 1025px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_12329071cf.png">
							<source media="(min-width: 769px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_cda5c70924.png">
							<source media="(min-width: 570px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_9234102bd2.png">
							<source
								srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_2e0619cac5.png">
							<!---Fallback--->
							<img title="Image Title" alt="Image Alternative Text"
								 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_320x180.png"
								 width="320" height="180">
						</picture>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 320px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

			</div>

		</div>

		<div class="b-content-item b-content-textmedia" id="c23">

			<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Text - Image - Description - No Image Link -
				No
				Lightbox</a></h5>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<picture>
							<source media="(min-width: 1025px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_12329071cf.png">
							<source media="(min-width: 769px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_cda5c70924.png">
							<source media="(min-width: 570px)"
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_9234102bd2.png">
							<source
								srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_2e0619cac5.png">
							<!---Fallback--->
							<img title="Image Title" alt="Image Alternative Text"
								 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_320x180.png"
								 width="320" height="180">
						</picture>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 320px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

		</div>

		<div class="b-content-item b-content-textmedia" id="c22">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Text - Image - Description - No Image Link
					-
					Lightbox</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_c5e0a5f140.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_ef295ec9f2.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_6feb01ed77.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_863cd5b6ae.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_835681ac3f.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1920x1080.png"
									 width="1920"
									 height="1080">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 1190px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c21">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Text - Images - Description - Image Link -
					No
					Lightbox</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 320px">
							<figure class="b-content-textmedia__image">

								<a href="/index.php?id=1">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_12329071cf.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_cda5c70924.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_9234102bd2.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_320x180_2e0619cac5.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_320x180.png"
											 width="320"
											 height="180">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_1x1_300x300_75bfcbdbf6.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_1x1_300x300_138b3afd57.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_1x1_300x300_6f968b7e14.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_1x1_300x300_c9c1c1c8a7.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_1x1_300x300.png"
										 width="300"
										 height="300">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c20">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Text - Image - No Description - No Image
					Link
					- Lightbox</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_e345871cc1.png"
						   title="Image Title"
						   data-description="">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
									 width="1280"
									 height="720">
							</picture>

						</a>

						<!-- todo: fix copyright marker -->

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c19">

			<h5 class="b-content-textmedia__header">Video</h5>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<iframe
							src="//www.youtube.com/embed/bNCzbzypWXY?autohide=1&amp;controls=2&amp;enablejsapi=1&amp;origin=gm7.cps-projects.de&amp;showinfo=0"
							allowfullscreen="" title="Screen/Color test video [1080p]"></iframe>

						<!-- todo: fix copyright marker -->

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate.
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate.</p>
				</div>

			</div>

		</div>

		<div class="b-content-item b-content-divider" id="c18">
			<hr class="b-content-divider__hr">

		</div>

		<div class="b-content-item b-content-header" id="c17">

			<h3 class="b-content-textmedia__header">Image Orient</h3>

		</div>

		<div class="b-content-item b-content-textmedia" id="c16">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Above, left - Number of Images: 1</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_0f151d93e5.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_55c7e95dca.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_b7d1a9252b.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_f4fec450a6.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_537e0abf44.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_640x360.png"
									 width="640"
									 height="360">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 640px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c15">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Above, left - Number of Images: 2</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 640px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_0f151d93e5.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_55c7e95dca.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_b7d1a9252b.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_f4fec450a6.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_537e0abf44.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_640x360.png"
											 width="640"
											 height="360">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 640px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_0f151d93e5.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_55c7e95dca.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_b7d1a9252b.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_f4fec450a6.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_537e0abf44.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_640x360.png"
											 width="640"
											 height="360">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c14">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Above, left - Number of Images: 2 - Images
					to
					small</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--above">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_86a0e70b37.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
											 width="300"
											 height="225">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_86a0e70b37.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
											 width="300"
											 height="225">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c13">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Below, left - Number of Images: 1</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--below">

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_c5e0a5f140.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_ef295ec9f2.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_6feb01ed77.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_863cd5b6ae.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1920x1080_835681ac3f.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1920x1080.png"
									 width="1920"
									 height="1080">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 1190px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c12">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Below, left - Number of Images: 2</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--below">

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 1190px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 1190px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c11">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, right - Number of Images: 1</a>
				</h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--right b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_600x450_8796d653da.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_600x450_4e408bcc60.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_600x450_e930ea41f7.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_600x450_ffb22333b7.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_600x450_f069b1a754.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_600x450.png"
									 width="600"
									 height="450">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 595px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c10">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, right - Number of Images: 2</a>
				</h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--right b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
										 width="300"
										 height="225">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c9">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, right - Number of Images: 2 -
					Images
					to small!</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--right b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_86a0e70b37.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
											 width="300"
											 height="225">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<a class="js-b-content-textmedia--lightbox"
								   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_86a0e70b37.png"
								   title="Image Title"
								   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

									<picture>
										<source media="(min-width: 1025px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
										<source media="(min-width: 769px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
										<source media="(min-width: 570px)"
												srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
										<source
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
										<!---Fallback--->
										<img title="Image Title" alt="Image Alternative Text"
											 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
											 width="300"
											 height="225">
									</picture>

								</a>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c8">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, left - Number of Images: 1</a>
				</h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_e345871cc1.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
									 width="1280"
									 height="720">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 595px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c7">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, left - Number of Images: 2</a>
				</h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c6">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, left - Number of Images: 2</a>
				</h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
										 width="300"
										 height="225">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c5">

			<header>

				<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">In text, left - Number of Images: 2 -
					Images
					too small!</a></h5>

				<p>
					<time datetime="2016-02-19">
						Februar 19, 2016
					</time>
				</p>

			</header>

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
										 width="300"
										 height="225">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 300px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_eb62a65d12.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_1305c861a2.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_3fdc1ae8a1.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_4x3_300x225_9278194445.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_4x3_300x225.png"
										 width="300"
										 height="225">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c4">

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--right b-content-textmedia__textpic--intext b-content-textmedia__textpic--nowrap">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_e345871cc1.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
									 width="1280"
									 height="720">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 595px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<header>

						<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Beside Text, Right - Number of
							Images:
							1</a></h5>

						<p>
							<time datetime="2016-02-19">
								Februar 19, 2016
							</time>
						</p>

					</header>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c3">

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--right b-content-textmedia__textpic--intext b-content-textmedia__textpic--nowrap">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_55c7e95dca.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_b7d1a9252b.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_f4fec450a6.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_537e0abf44.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_640x360.png"
										 width="640"
										 height="360">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_55c7e95dca.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_b7d1a9252b.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_f4fec450a6.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_640x360_537e0abf44.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_640x360.png"
										 width="640"
										 height="360">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<header>

						<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Beside Text, Right - Number of
							Images:
							2</a></h5>

						<p>
							<time datetime="2016-02-19">
								Februar 19, 2016
							</time>
						</p>

					</header>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c2">

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext b-content-textmedia__textpic--nowrap">

				<div class="b-content-textmedia__images">

					<figure class="b-content-textmedia__image">

						<a class="js-b-content-textmedia--lightbox"
						   href="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_e345871cc1.png"
						   title="Image Title"
						   data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.">

							<picture>
								<source media="(min-width: 1025px)"
										srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
								<source media="(min-width: 769px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
								<source media="(min-width: 570px)"
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
								<source
									srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
								<!---Fallback--->
								<img title="Image Title" alt="Image Alternative Text"
									 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
									 width="1280"
									 height="720">
							</picture>

						</a>

						<figcaption class="b-content-textmedia__image__figcaption" style="max-width: 595px">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
							dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis
							quo
							reiciendis sequi suscipit tempore, unde ut voluptate.
							<!-- todo: fix copyright marker -->

						</figcaption>

					</figure>

				</div>

				<div class="b-content-textmedia__bodytext">

					<header>

						<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Beside Text, Left - Number of
							Images:
							1</a></h5>

						<p>
							<time datetime="2016-02-19">
								Februar 19, 2016
							</time>
						</p>

					</header>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

		<div class="b-content-item b-content-textmedia" id="c1">

			<div
				class="b-content-textmedia__textpic b-content-textmedia__textpic--left b-content-textmedia__textpic--intext b-content-textmedia__textpic--nowrap">

				<div class="b-content-textmedia__images">

					<ul class="b-content-textmedia__images__list">

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

						<li class="b-content-textmedia__images__list__item" style="width: 595px">
							<figure class="b-content-textmedia__image">

								<picture>
									<source media="(min-width: 1025px)"
											srcset="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png">
									<source media="(min-width: 769px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_163166aa8a.png">
									<source media="(min-width: 570px)"
											srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_f32476b918.png">
									<source
										srcset="http://gm7.cps-projects.de/fileadmin/_processed_/csm_img_16x9_1280x720_217e1fda10.png">
									<!---Fallback--->
									<img title="Image Title" alt="Image Alternative Text"
										 src="http://gm7.cps-projects.de/fileadmin/GoldenMaster7/beispielinhalte/img_16x9_1280x720.png"
										 width="1280"
										 height="720">
								</picture>

								<figcaption class="b-content-textmedia__image__figcaption">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem
									beatae
									culpa dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias
									perferendis quo reiciendis sequi suscipit tempore, unde ut voluptate.
									<!-- todo: fix copyright marker -->

								</figcaption>

							</figure>
						</li>

					</ul>

				</div>

				<div class="b-content-textmedia__bodytext">

					<header>

						<h5 class="b-content-textmedia__header"><a href="/index.php?id=1">Beside Text, Left - Number of
							Images:
							2</a></h5>

						<p>
							<time datetime="2016-02-19">
								Februar 19, 2016
							</time>
						</p>

					</header>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!
					</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci atque autem beatae culpa
						dignissimos eligendi expedita facere id ipsa ipsam ipsum laborum maxime molestias perferendis quo
						reiciendis sequi suscipit tempore, unde ut voluptate. Adipisci delectus eaque ex illum maiores optio
						ratione. Animi doloribus est incidunt quae quibusdam tenetur!</p>
				</div>

			</div>

			<footer>
				<a href="/index.php?id=4&amp;no_cache=1#top">To top</a>
			</footer>

		</div>

	</div>

</section>
