<div>
    <span id="gridtoggle">Toggle Grid</span>
</div>

<script>
    // Grid toggle
    function changeClass() {
        if (document.getElementById("baseline").className.match(/(?:^|\s)show-grid(?!\S)/)) {
            document.getElementById("baseline").className = document.getElementById("baseline").className.replace(/(?:^|\s)show-grid(?!\S)/g, '')
        } else {
            document.getElementById("baseline").className += " show-grid";
        }
    }
    document.getElementById("gridtoggle").addEventListener('click', changeClass);
</script>

<style>
    #baseline.show-grid {
        background-image: -webkit-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: -moz-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: -o-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
        background-repeat: repeat-y;
        background-size: 100% 1rem;
    }
</style>